<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="saddam.razon.sos">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".oldClass.AppLaunchActivity"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".oldClass.CountryNumbersList" />
        <activity android:name=".oldClass.CountryList" />
        <activity
            android:name=".oldClass.NewNumberCreator"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize|adjustNothing" />
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.CountryDetails" />
        <activity android:name=".activity.RegionActivity" />
        <activity android:name=".activity.CountryListActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchActivity"></activity>
    </application>

</manifest>